[submodule "external/tvm"]
	path = external/tvm
	url = https://github.com/yunho-c/tvm
[submodule "external/CharsiuG2P"]
	path = external/CharsiuG2P
	url = https://github.com/yunho-c/CharsiuG2P
[submodule "external/misaki"]
	path = external/misaki
	url = https://github.com/yunho-c/misaki
[submodule "external/tvm_flutter"]
	path = external/tvm_flutter
	url = https://github.com/yunho-c/tvm_flutter
